@import '../../theme/theme.scss';

.input-range{
  display:inline-block;
  margin-left:50px;
}

.input-range input{
  font-size:30px;
  padding:10px;
  position: relative;
  margin:15px;
  border:1px solid pink;

}

.subtract{
  @include buttonGenerator($primary-red);
}